<div class="containers">
  <div class="row">
    <div class="col">
      <header>
        <article>

          <img class="quat" src="../../assets/quate.png" alt="quate" />
          <img class="logo" src="../../assets/logo.png" alt="" />
          <h4>Greetings!</h4>
          <p>
            This is Tarun Jain, CEO of Tim Hortons India. My team and I are
            committed to providing you with a world class experience that has been
            crafted with care, for you. We’d love to find out how you felt about
            your visit to Tim Hortons today. May we ask a few questions?
          </p>
        </article>
        <div class="bg-logo"></div>
      </header>
    </div>
  </div>
</div>
