<div>
  <ng-container>
    <article class="que-conatiner">
      <h4 class="que-placeholder">
        <span> {{ ar.sequence }}.&nbsp; </span>
        <span>{{ ar.question_data }}</span>
      
      </h4>
      <app-text-area
        [index]="index"
        [f]="form"
        *ngIf="ar.type === 'text-area'"
        [ph]="ar.placholder"
      ></app-text-area>
      <app-rating
        [index]="index"
        [f]="form"
        *ngIf="ar.type === 'rating'"
      ></app-rating>
      <app-text
        [index]="index"
        [f]="form"
        [cat]="ar.category"
        [ih]="ar.Input_heading"
        *ngIf="ar.type === 'auto-complete'"
      ></app-text>
    </article>
  </ng-container>
</div>
