

<div *ngIf="city">
  <section class="parent">
    <div class="drop-down__container">
    <label [ngStyle]="{color: getColor()}" for="city" class="label">City</label>
    <input
      type="text"
      matInput
      name="city"
      id="city"
      class="drop-down__select"
      [formControl]="control"

      [matAutocomplete]="auto"
    />
    <ng-container
    *ngIf="
    form.get('city').invalid &&
    form.get('city').touched
    "
  >
    <div class="validator" *ngFor="let err of control.errors | keyvalue">
      {{ errorMessege[err.key] }}
    </div>
  </ng-container>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option  (click)="onSelectCity(c.id)" *ngFor="let c of city.data.data; let i = index" [value]="c.city_name"  >
        {{ c.city_name }}
      </mat-option>
    </mat-autocomplete>
  </div>
  </section>
  <section>
    <app-store-inpute [control]="con" [F]="form" [Store]="store" ></app-store-inpute>
  </section>

</div>
